@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

.about {
    padding: 0rem 1rem 2.5rem 1rem;
    color: $primary-text;
    background-color: $primary-text-light;
    &__introduction {
        display: flex;
        flex-direction: column;
        align-items: left;
        &--title {
            font-family: "Avenir";
            font-weight: 700;
            font-size: 1.5rem;
            padding-top: 2rem;
            line-height: 2rem;
        }
        &--image {
            height: 45.313vw;
            width: 100%;
            margin: 1.5rem 0;
            object-fit: cover;
        }
        &--quote {
            font-family: "Avenir";
            font-weight: "700";
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding-bottom: 2rem;
            width: 85%;
         &--author {
            padding-bottom: 2.5rem;
            font-family: "Avenir";
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.375rem;
            }
        }
    }

    &__main--title {
        font-family: "Avenir";
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    &__main--story {
        font-family: "Avenir";
        font-weight: 700;
        line-height: 1.125rem;
        padding-top: 1.5rem;
    }
}

@include tablet {
    .about {
        padding: 0rem 1.5rem 1.5rem 1.5rem;
        &__introduction {
            &--title {
                font-size: 2.25rem;
                line-height: 2.75rem;
            }
            &--image {
                height: 47.136vw;
            }
            &--quote {
                font-size: 1.5rem;
                line-height: 2rem;
                width: unset;
            &--author {
                 font-size: 1rem;
                line-height: 1.5rem;
                }
            }
        }
        &__main--tittle {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        &__main--story-box {
            display: flex;
            justify-content: space-evenly;
        }
        &__main--story {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    #main-bot {
        padding-left: 1.5em;
    }
}

@include desktop {
    .about {
        padding: 0 17rem 3rem 17rem;

        &__introduction {
            &--title {
                margin: 3rem 0 0 -5.75rem;
            }
            &--image {
                margin: 3rem 0;
                height: 31.25vw
            }
            &--quote {
                padding-bottom: 2.5rem;
            &--author {
                padding-bottom: 3.5rem;
                }
            }
        }
        &__main--story-box {
            width: 55rem;
        }
        &__main--story {
            width: 26.25rem;
            padding-top: 2rem;
        }
    }
    #main-bot {
        padding-left: 2.5rem;
    }
}