@use "./variables" as * ;
@use "./mixins" as * ;
@use "./typography" as * ;
@use "./header" as *;
@use "./hero" as *;
@use "./about" as *;


 html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tablet {
        margin: 0;
        padding: 0;
        font-family: $font-family;
        font-size: .875rem;
        line-height: 22px;
        font-weight: 400;
    }
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
    }
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
    }
}

h3 {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

footer{
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tablet {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;
    }
}

