@use "./variables" as * ;
@use "./typography" as * ;
@use "./about" as * ;
@use "./mixins" as *;


html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Avenir";
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tablet {
        margin: 0;
        padding: 0;
        font-family: "Avenir";
        font-size: .875rem;
        line-height: 22px;
        font-weight: 400;
    }
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
    }
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
    }
}

h3 {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

footer{
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tablet {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;
    }
}
//mobile header styling starts
.header {
    &__navbar {
        font-family: "Avenir";
        font-weight: 400;
        background-color: $primary-text;
        width: 100vw;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-logo {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }
        &-image {
            width: 7.5rem;
            margin-top: 0.5rem;
        } 
    }
    &__nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0.5rem;
        width: 100%;
        &--item {
            width: 50vw;
            text-align: center;
            border-bottom: 0.2125rem solid transparent; 
            #active {
                color: $primary-text-light;
                border-bottom: 0.42rem solid $primary-text-light;
            }
        }
        &--link {
            text-decoration: none;
            display: block;
            margin-top: 1.32rem;
            color: $secondary-text;
            &:hover {
                border-bottom: 0.50rem solid $primary-text-light;
            }
        }
    }
}

// mobile header styling end 

// tablet headerstyling start
@include tablet {
.header {
    &__navbar {
        flex-direction: row;
        &-logo {
            margin-top: 0rem;
        }
        &-image {
           width: 7.5rem;
           margin-bottom: 0rem;
           margin-left: 1.5rem;
        }
    }
    &__nav-list {
        justify-content: left;
        align-items: center;   
        &--item {
            display: flex;
            align-items: center;
            text-align: center;
            height: 5rem;
            border-bottom: unset;
            width: 5rem;
            margin-left: 3.5rem;            
        }
        &--link {
            width: 5rem;
            display: block;
            margin-top: .7125rem;     
            padding-top: 1.5rem;
            padding-bottom: 1.4rem;
            border-bottom: 0.413rem solid transparent;      
            }
        }
    }
}
// tablet styling end 

// desktop styling start 

// desktop styling end

.footer {
    background-color: $primary-text;
    color: $primary-text-light;
    padding: 0 1rem;
    font-family: "Avenir";
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    &__title {
        font-family: "Avenir";
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 2rem 0 1.5rem 0;
    }
    &__icon {
        padding-bottom: 2rem;
        &-link {
            margin-right: 1.6rem;
        }
    }
    &__logo {
        display: none;
    }
    &__contact {
        &--details__name {
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding-bottom: 1.25rem;
        }
        &--details__address,
        &--details__email {
            color: $secondary-text;
            text-decoration: none;
            margin-bottom: 1.25rem;
        }
    }
    &__copyright {
        color: $secondary-text;
        padding-bottom: 2rem;
    }
}

@include tablet {
    .footer {
        padding: 0 1.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        &__main {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__tittle {
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding: 3rem 0 3.5rem 0;
        }
        &__icon {
            padding: 0 8rem 0 0;
            position: relative;

            &-link {
                margin-right: 2rem;
            }
        }
        &__logo {
            display: inherit;
            height: 1.5rem;
            width: 7.5rem;
        }
        &__contact-box {
            display: flex;
            justify-content: space-between;
        }
        &__contact--details {
            &__name {
                font-size: 1rem;
                line-height: 1.5rem;
                padding-bottom: 1.5rem;
            }
            &__address {
                padding-bottom: 0.25rem;
            }
            &__email {
                margin-bottom: 2.5rem;
            }

        }
    }
}

@include desktop {
    .footer {
        padding: 0 11.25rem;
        &__icon {
            padding-right: 30rem;
        }
    }
}