@use "./variables" as * ;
@use "./mixins" as * ;
@use "./typography" as * ;


 html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tablet {
        margin: 0;
        padding: 0;
        font-family: $font-family;
        font-size: .875rem;
        line-height: 22px;
        font-weight: 400;
    }
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
    }
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
    }
}

h3 {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

footer{
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tablet {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;
    }
}

a {
    font-size: .0063rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: $secondary-text;
    @include tablet {
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        text-decoration: none;
        color: $secondary-text;
    }
}
// mobile styling starts
.main-nav {
    font-family: "Avenir";
    font-family: 400;
    width: 100%;
    height: 80px;
    background-color: $primary-text;
    color: $secondary-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    &__logo-image {
        width: 7.5rem;
        margin-bottom: 0.5rem;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0.5rem;
        width: 100%;

        &__list-item {
            width: 50vw;
            text-align: center;
            border-bottom: 0.2125rem solid transparent;

            &__list-item-link {
                text-decoration: none;
                display: block;
                padding-bottom: 0.44rem;

                &:hover {
                    border-bottom: 0.4125rem solid $primary-text-light;
                }
            }
        }

        &-item #active {
            color: $primary-text-light;
            border-bottom: 0.4125rem solid $primary-text-light;
        }
    }
}
// mobile styling ends

//tablet styling start
@include tablet {
    .main-nav {
        flex-direction: row;

        &__logo {
            margin-top: 0px;
        }

        &__logo-image {
            width: 7.5rem;
            margin-bottom: 0rem;
            margin-left: 1.5rem;
        }

        &__list {
            justify-content: left;
            align-items: center;
            margin-top: 0px;
            height: 5rem;

            &__list--item{
                display: flex;
                align-items: center;
                text-align: center;
                height: 5rem;
                width: 5rem;
                border-bottom: unset;
                margin-left: 3.5rem;

                &__list--item-link {
                    width: 5rem;
                    display: block;
                    margin-top: .7125rem;
                    padding-bottom: 1.4rem;
                    padding-top: 1.5rem;
                    border-bottom: 0.4125rem solid transparent;
                }
            }
        }
    }
}
//tablet styling end

//desktop styling start
@include desktop {
    .main-nav {
        &__logo {
            margin-top: 0px;
        }

        &__logo-image {
            width: 7.5rem;
            margin-bottom: 0rem;
            margin-left: 11.25rem;
            margin-right: 1.75rem;
        }

        &__list {
            justify-content: left;
            margin-top: 0px;

            &__list--item {
                margin-left: 1.75rem;
                margin-right: 1.75rem;
                border-bottom: unset;

                &-list--item-link {
                    border-bottom: 0.4125rem solid transparent
                }
            }
        }
    }
}

//desktop-styling-end

// mobile-styling-start 
.hero {
    width: 100vw;
    height: 11.4375rem;
    background-image: url("../../Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
        width: 100vw;
        height: 11.4375rem;
        background-color: rgba($primary-text, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__tittle {
        font-size: 1.5rem;
        line-height: 2rem;
        color: $primary-text-light;
        margin: 0 0 0 1rem;
        width: 16.875rem;
    }
}

// mobile-styling-end 

// tablet-styling-start 
@include tablet {
    .hero {
        width: 100vw;
        height: 25rem;
        background-image: url("../../Assets/Images/hero-bio.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__container {
            width: 100vw;
            height: 25rem;
            background-color: rgba($primary-text, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__tittle {
            font-size: 3.75rem;
            line-height: 4.25rem;
            color: $primary-text-light;
            margin: 0 0 0 1.5rem;
            width: 31.875rem;
        }
    }
}
// tablet-styling-end

// desktop-styling start

@include desktop {
    .hero {
        width: 100vw;
        height: 41.875rem;
        background-image: url("../../Assets/Images/hero-bio.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__container {
            width: 100vw;
            height: 41.875rem;
            background-color: rgba($primary-text, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__text {
            font-size: 3.75rem;
            line-height: 4.25rem;
            color: $primary-text-light;
            margin: 0 0 0 11.25rem;
            width: 31.875rem;
        }
    }
}
// desktop-styling-end


