@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

// mobile-styling-start 
.hero {
    width: 100vw; 
    height: 25rem;
    background-image: url("./../Assets/Images/hero-shows.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__container {
        width: inherit;
        height: inherit;
        background-color: rgba($primary-text, 0.5);
        padding: 4rem 1rem 2rem 1rem;    
    }
    &__tittle-main {
        font-size: 2.3rem;
        font-family: "Avenir";
        font-weight: 600;
        line-height: 2.5rem;
        margin: 0;
        padding: 1rem 0rem 4rem 0rem;
        color: $primary-text-light;
        }
    &__tittle-sub {
        font-size: 0.9rem;
        padding-top: 2rem;
        margin: 0rem;
        font-family: "Avenir";
        font-family: 400;
        color: $primary-text-light;
    }
    &__song-imbed {
        width: 17rem;
        height: 7rem;
    }
}
// mobile-styling-end 

// tablet-styling-start 
@include tablet {
    .hero {
        height: 41.5rem;
        padding: 0 1.5rem 0 1.5rem;
        &__tittle-sub {
            font-size: 1.45rem;
            font-family: "Avenir";
            font-size: 600;
            padding-top: 6rem;
        }
        &__tittle_main {
            font-size: 3.75rem;
            line-height: 4.3rem;
            padding: 3rem 0rem 4rem 0rem;
            width: 36.75rem;
         }
        &__song-imbed { 
            width: 28rem;
            height: 9.125rem;
        }
    }
}
// tablet-styling-end

// desktop-styling start
@include desktop {
    .hero {
        height: 41.875rem;
        &__tittle {
            padding-left: 11rem;
        }
    }
}
// desktop-styling-end