@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;
@use "./global" as *;

// mobile-styling-start 
.hero {
    width: 100vw; 
    height: 12rem;
    background-image: url("./../Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-content: center;
    &__container {
        width: inherit;
        height: inherit;
        background-color: rgba($primary-text, 0.5);
        display: flex;
        align-items: center;
    }
    &__tittle {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1rem;
        color: $primary-text-light;
        width: 13rem;
    }
}
// mobile-styling-end 

// tablet-styling-start 
@include tablet {
    .hero {
        height: 25rem;
        &__tittle {
            font-size: 3.75rem;
            line-height: 4.25rem;
            width: 31.75rem;
        }
    }
}
// tablet-styling-end

// desktop-styling start
@include desktop {
    .hero {
        height: 41.875rem;
        &__tittle {
            padding-left: 11rem;
        }
    }
}
// desktop-styling-end