@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

// mobile-styling-start
 .hero {
     width: 100vw;
     height: 27.5rem;
     background-image: url("./../Assets/Images/hero-shows.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     &__container {      
        background-color: rgba($primary-text, 0.5); 
        padding: 0rem 1rem 0 1rem;;    
     }
     &__tittle {
        &-sub {
            font-family: "Avenir";
            font-weight: 600;
            color: $primary-text-light;
            padding: 4rem 0rem 0rem 0rem;
            margin: 0rem;
            font-size: 0.9rem;
        }
        &-main {
            font-family: "Avenir";
            font-weight: 700;
            margin: 0;
            line-height: 2.8rem;
            color: $primary-text-light;
            padding: 1rem 0rem 4rem 0rem;
        }
    &__song-details {
        width: 90%;
        margin-top: 3rem;
        }
    }
 }