@use "./partials/variables" as * ;
@use "./partials/mixins" as * ;
@use "./partials/global" as * ;
@use "./partials/typography" as * ;
@use "./partials/herobio" as * ;


.photo {
    background-color: $alternative-text;
    padding: 0 1rem;
    &__header {
        font-family: "Avenir";
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 2rem 0 1rem 0;
    }
    &__pics {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        &-item {
            height: 50.625vw;
            width: 100%;
            padding: 0.5rem 0;          
        }
       
    }
}

@include tablet {
    .photo {
        padding: 0 1.5rem;
        &__header {
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-bottom: 2rem;
        }
        &__pics {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            &-item {
                height: 16.40625vw;
                width: calc(33% - 10px);
                padding: 0 0 1.5rem 0;
            }
        }
    }
}

@include desktop {
    .photo {
        padding: 0 11.25rem;
        &__header {
            padding: 3rem 0 4rem 0;
        }
       &__pics {
            padding-bottom: 1rem;
            &-item {
                height: 11.7363vw;
            }
        }
    }
}

/* mobile-styling-start */
.comment {
    background-color: $primary-text-light;
    margin: 0 1rem 0 1rem;

    &__title {
        font-family: "Avenir";
        font-weight: 700;
        font-size: 1.5rem;
        margin: 2rem 0 2.5rem;
    }

    &__photo {
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    &__name-box {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $divider-line;
        border-radius: 0.25rem;
    }

    &__input-box {
        display: flex;
        flex-direction: column;

        &--text {
            font-family: "Avenir";
            font-weight: 400;
            color: $secondary-text;
            font-size: 0.75rem;
            line-height: 1.25rem;
            margin: 0 0 0.5rem 0;
        }
    }

    &__text-box {
        font-family: "Avenir";
        font-weight: 400;
        font-size: 0.8125rem;
        border: 1px solid $primary-text;
        border-radius: 0.25rem;
        width: 14rem;
        background-color: $alternative-text;
        border-color: $secondary-text;
        resize: none;

        &:focus {
            border: 1.5px solid $primary-text;
            outline-width: 0;
        }

        &--one {
            margin: 0 0 0.5rem 0;
            height: 2.5rem;
            padding: 0.625rem;
        }

        &--two {
            padding: 0.625rem 0.625rem 3.125rem 0.625rem;
            margin: 0 0 0.5rem 0;
            height: 5rem;
        }
    }

    &__button {
        font-family: "Avenir";
        font-weight: 600;
        background-color: $primary-text;
        border-style: none;
        height: 2.5rem;
        border-radius: 0.25rem;
        color: $primary-text-light;
        text-align: center;
        width: 14rem;
        margin: 0 0 2rem 0;
        outline-width: 0;
        padding: 0;

        &:hover {
            background-color: $hover-state
        }
    }

    &__default {
        border-bottom: 1px solid $divider-line;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &--photo-one {
            height: 3rem;
            width: 3rem;
            background-color: $divider-line;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            float: left;
            border-radius: 2rem;
            margin-top: 1.5rem;
        }

        &--name {
            color: $primary-text;
            font-family: "Avenir";
            font-weight: 600;
            font-size: 0.8125rem;
            padding: 1.75rem 0 0 1rem;
            margin: 0;
        }

        &--date {
            color: $secondary-text;
            font-family: "Avenir";
            font-weight: 400;
            font-size: 0.8125rem;
            margin: 0;
            padding: 1.75rem 0 0 0;
        }
    }

    &__text-box-main {
        display: flex;

        &--comment {
            word-wrap: break-word;
            width: 96%;
            color: $primary-text;
            font-size: 0.8125rem;
            font-family: "Avenir";
            font-weight: 400;
            margin: 0;
            padding: 1rem 0 1.5rem 1rem;
        }
    }
}

/* mobile-styling-end */

/* tablet-styling-start */

@include tablet {
    .comment {
        &__title {
            font-size: 2.35rem;
            line-height: 2.75rem;
            margin: 3rem 0 3.5rem 0;
        }

        &__photo {
            width: 3.437rem;
            margin: 0rem;
        }

        &__name-box {
            display: flex;
            justify-content: center;
            border: none;
        }

        &__border-box {
            display: flex;
            justify-content: center;
        }

        &__border {
            width: 33rem;
            border: 1px solid $divider-line;
        }

        &__input-box {
            display: flex;
            flex-direction: column;

            &--text {
                font-family: "Avenir";
                font-weight: 600;
                color: $secondary-text;
                font-size: 0.75rem;
                line-height: 1.25rem;
                margin: 0 0 0.5rem 0;
            }
        }

        &__text-box {
            font-family: "Avenir";
            font-weight: 400;
            font-size: 1rem;
            border: 1px solid $primary-text;
            border-radius: 0.25rem;
            width: 28.75rem;
            background-color: $alternative-text;
            border-color: $secondary-text;
            resize: none;

            &:focus {
                border: 1px solid $primary-text;
                outline-width: 0;
            }

            &--one {
                margin: 0 0 1.5rem 0;
                height: 3rem;
                padding: 0.625rem 1rem 0 1rem;
            }

            &--two {
                padding: 0.625rem 1rem 0 1rem;
                height: 6rem;
                margin: 0 0 1.5rem 0;
            }
        }

        &__button {
            font-family: "Avenir";
            font-weight: 600;
            font-size: 1rem;
            background-color: $primary-text;
            border-style: none;
            height: 3rem;
            border-radius: 0.25rem;
            color: $primary-text-light;
            text-align: center;
            width: 10rem;
            margin: 0 0 1.5rem 0;
            outline-width: 0;
            padding: 0;
            align-self: flex-end;

            &:hover {
                background-color: $hover-state;
            }
        }

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__default {
            width: 528px;
        }

        &__header {
            position: relative;
            display: flex;
            justify-content: flex-start;

            &--photo-one {
                position: absolute;
                height: 3rem;
                width: 3rem;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 2rem;
                margin-top: 1.5rem;
            }

            &--name {
                color: $primary-text;
                font-family: "Avenir";
                font-weight: 600;
                font-size: 1rem;
                margin-left: 3.5rem;
            }

            &--date {
                color: $secondary-text;
                font-family: "Avenir";
                font-weight: 400;
                font-size: 1rem;
                margin-left: 13rem;
            }
        }

        &__text-box-main {
            display: flex;
            justify-content: flex-end;
            border-bottom: 1px solid $divider-line;

            &--comment {
                color: $primary-text;
                width: 25rem;
            }
        }
    }
}

/* tablet-styling-end */

/* desktop-styling-start */

@include desktop {
    .comment {
        background-color: $primary-text-light;
        margin: 0 10.5rem 0 10.5rem;

        &__title {
            padding-left: 10.25rem;
        }

        &__photo {
            width: 2.9rem;

         }
    }
}

// desktop-styling-end 