@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

.gallery{
    display: flex;
    flex-direction: column;
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}