@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;
@use "./partials/typography" as *;
@use "./partials/heroshow" as *;

// mobile styling starts//
.shows {
    margin: 0 1rem;

    &__subtitle {
        display: none;
    }

    &__title {
        color: $primary-text;
        padding-bottom: 1rem;
        font-family: "Avenir";
        font-weight: 700;
        color: $primary-text;
        font-size: 1.5rem;
    }

    &__new {
        margin: -0.5rem 0 1rem 0;
        border-bottom: 1px solid $divider-line;
        display: flex;
        flex-direction: column;
    }

    &__date,
    &__venue,
    &__location {
        color: $secondary-text;
        font-family: "Avenir";
        font-weight: 600;
        font-size: 0.8125rem;
        margin: 1rem 0 1rem 0;

    }

    &__date-actual,
    &__venue-actual,
    &__location-actual {
        font-family: "Avenir";
        font-weight: 600;
        font-size: 0.875rem;
        margin: 0.5rem 0 1.5rem 0;
    }

    &__button {
        background-color: $primary-text;
        color: $primary-text-light;
        font-family: "Avenir";
        font-weight: 600;
        width: 17.9rem;
        height: 3rem;
        border: none;
        border-radius: 0.315rem;
        font-size: 0.815rem;

        &:focus {
            outline-width: 0;
        }

        &:hover {
            background-color: $alternative-text;
            box-shadow: .125rem .125rem 1.25rem;
        }
    }
}

@include tablet {
    .shows {
        margin: 0rem 1.5rem;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 2.25rem;
            font-family: "Avenir";
            font-weight: 700;
            color: $primary-text;
            margin: 2rem 0 2rem 0;
        }

        &__subtitle {
            display: flex;
            justify-content: space-between;
            font-family: "Avenir";
            font-weight: 600;
            color: $secondary-text;
            margin-top: -3rem;

            &-venue,
            &-date,
            &-location {
                align-self: center;
                font-size: 0.75rem;
                color: $secondary-text
            }
        }

        &__hidden {
            visibility: hidden;
            width: 10rem;
        }

        &__new {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__date,
        &__venue,
        &__location {
            display: none;

            &-actual {
                padding-bottom: 0;
                width: 8.375rem;
            }
        }

        &__button {
            width: 10rem;
            height: 3rem;
            margin-right: 3rem;

        }

    }
}

@include desktop {
    .shows {
        margin: 0rem 11.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__container {
            width: 50.25rem;
        }

        &__new {
            padding: 1rem 0;
        }

        &__subtitle {
            margin: 1rem 0 1rem 0rem;
        }
    }
}