@font-face {
  font-family: "Avenir";
  src: url("./../Assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("./../Assets/Font/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("./../Assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
.about {
  margin: 0 1rem;
}
.about__title {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
  line-height: 2rem;
}
.about__image-container {
  height: 45.2vw;
  margin: 0 0 1.5rem 0;
}
.about__image {
  height: 100%;
  width: 100%;
}
.about__quote {
  font-family: "Avenir";
  font-weight: "700";
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0 0 2rem 0;
}
.about__quote-author {
  font-family: "Avenir";
  font-weight: 400;
  margin: 0 0 2.5rem 0;
}
.about__main {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0 0 1.5rem 0;
}
.about__story-one {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  margin: 0 0 1.5rem 0;
}
.about__story-two {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  margin: 0 0 2.5rem 0;
}

@media (min-width: 768px) {
  .about {
    margin: 0 1rem;
  }
  .about__title {
    font-family: "Avenir";
    color: #323232;
    font-weight: 700;
    font-size: 2.25rem;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .about__image-container {
    height: 46.8vw;
    margin: 0 0 1.5rem 0;
  }
  .about__quote {
    font-family: "Avenir";
    font-weight: "700";
    font-size: 1.5rem;
    color: #323232;
    line-height: 2.75rem;
    margin: 0 0 2rem 0;
  }
  .about__quote-author {
    font-family: "Avenir";
    font-weight: 600;
    margin: 0 0 2.5rem 0;
  }
  .about__main {
    font-family: "Avenir";
    font-weight: 700;
    color: #323232;
    margin: 0rem 0rem 1.5rem 0rem;
  }
  .about__story-box {
    display: flex;
  }
  .about__story-one {
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: #323232;
    margin: 0 1.5rem 2.5rem 0;
  }
  .about__story-two {
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: #323232;
    margin: 0 0 2.5rem 0;
  }
}
@media (min-width: 1280px) {
  .about {
    margin: 0 1rem;
  }
  .about__title {
    font-family: "Avenir";
    font-weight: 700;
    font-size: 2.25rem;
    padding: 3rem 0rem 3rem 10rem;
  }
  .about__image-container {
    height: 32.1vw;
    margin: 0 17rem 3.5rem 17rem;
  }
  .about__quote {
    font-family: "Avenir";
    font-weight: "700";
    font-size: 1.5rem;
    line-height: 2.75rem;
    margin: 0 0 2.5rem 17rem;
    width: 60vw;
  }
  .about__quote-author {
    font-family: "Avenir";
    font-weight: 700;
    margin: 0 0 3.5rem 17rem;
  }
  .about__main {
    font-family: "Avenir";
    font-weight: 700;
    margin: 0 0 2.5rem 17rem;
  }
  .about__story-box {
    display: flex;
    margin: 0rem 17rem 3rem 17rem;
  }
  .about__story-one {
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    margin: 0rem 2.5rem 0rem 0rem;
  }
  .about__story-two {
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    margin: 0rem;
  }
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Avenir";
    font-size: 0.875rem;
    line-height: 22px;
    font-weight: 400;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.header {
  height: 80px;
  width: 100vw;
  background-color: #323232;
}
.header__navbar-box {
  display: flex;
  justify-content: center;
}
.header__navbar-box-logo {
  width: 6.25rem;
  padding: 1rem 0rem;
}
.header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: #AFAFAF;
  font-family: "Avenir";
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
}
.header__nav-list--one, .header__nav-list--two {
  text-align: center;
  padding-bottom: 0.17rem;
  font-size: 1rem;
  width: 50vw;
  text-decoration: none;
}
.header__nav-list--link {
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
    width: 100vw;
    background-color: #323232;
  }
  .header__navbar {
    display: flex;
    width: 50vw;
    align-items: center;
    height: 100%;
  }
  .header__navbar-box {
    width: 6.25rem;
    margin: 0 1.5rem;
    padding: 0;
  }
  .header__nav-frame {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    margin: 0 1.75rem;
  }
  .header__nav-list {
    display: flex;
    justify-content: space-around;
    width: auto;
  }
  .header__nav-list--one, .header__nav-list--two {
    font-size: 6.25rem;
    width: 5rem;
    padding: 0;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    height: 5em;
    width: 100vw;
    background-color: #323232;
  }
  .header__navbar {
    display: flex;
    width: 50vw;
    align-items: center;
    height: 100%;
  }
  .header__navbar-box {
    width: 6.25rem;
    margin: 0 1.75rem 0 11.25rem;
    padding: 0;
  }
  .header__nav-frame {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    margin: 0 1.75rem;
  }
  .header__nav-list {
    display: flex;
    justify-content: space-around;
    width: auto;
  }
  .header__nav-list--one, .header__nav-list--two {
    width: 5rem;
    padding: 0;
    font-size: 1rem;
  }
}
.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1rem;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__title {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1.5rem 0;
}
.footer__icon {
  padding-bottom: 2rem;
}
.footer__icon-link {
  margin-right: 1.6rem;
}
.footer__logo {
  display: none;
}
.footer__contact--details__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1.25rem;
}
.footer__contact--details__address, .footer__contact--details__email {
  color: #AFAFAF;
  text-decoration: none;
  margin-bottom: 1.25rem;
}
.footer__copyright {
  color: #AFAFAF;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__tittle {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 3.5rem 0;
  }
  .footer__icon {
    padding: 0 8rem 0 0;
    position: relative;
  }
  .footer__icon-link {
    margin-right: 2rem;
  }
  .footer__logo {
    display: inherit;
    height: 1.5rem;
    width: 7.5rem;
  }
  .footer__contact-box {
    display: flex;
    justify-content: space-between;
  }
  .footer__contact--details__name {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__contact--details__address {
    padding-bottom: 0.25rem;
  }
  .footer__contact--details__email {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 11.25rem;
  }
  .footer__icon {
    padding-right: 30rem;
  }
}
.hero {
  width: 100vw;
  height: 27.5rem;
  background-image: url("./../Assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__container {
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0 1rem 0 1rem;
}
.hero__tittle-main {
  font-size: 2.3rem;
  font-family: "Avenir";
  font-weight: 600;
  line-height: 2.5rem;
  margin: 0;
  padding: 1rem 0rem 4rem 0rem;
  color: #FFFFFF;
}
.hero__tittle-sub {
  font-size: 0.9rem;
  padding-top: 2rem;
  margin: 0rem;
  font-family: "Avenir";
  font-weight: 400;
  color: #FFFFFF;
}
.hero__tittle-song {
  width: 90%;
}

@media (min-width: 768px) {
  .hero {
    height: 41.5rem;
  }
  .hero__tittle-sub {
    font-size: 1.45rem;
    font-family: "Avenir";
    font-size: 600;
    padding-top: 6rem;
  }
  .hero__tittle_main {
    font-size: 3.75rem;
    line-height: 4.3rem;
    padding: 3rem 0rem 4rem 0rem;
    width: 36.75rem;
  }
  .hero__song-imbed {
    width: 28rem;
    height: 9.125rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 41.875rem;
  }
  .hero__tittle {
    padding-left: 11rem;
  }
}/*# sourceMappingURL=shows.css.map */